body{
width: 1440px;
height: 3300px;
background: #FFF;
font-family: "Roboto", sans-serif;


}
.logo{
   
}
.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
display: flex;
width: 1440px;
height: 72px;
flex-shrink: 0;
}


.header-navigation {

}
.header-link {
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-link:focus 
.header-link:hover{
    color: #404bbf;
}

.header-navigation-list {
    display: inline-flex;
align-items: flex-start;
gap: 40px;
}
.header-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 0.3s ease;
}
.header-menu:hover,
.header-menu:focus {
  color: #404bbf;
}
.adress-list {
}
.adres-item {
}
.item-adres {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.08em;
}
.spanlogo{
    color: #2e2f42;
}
.hero {
    margin: 0;
padding: 0;
}
.hero-section {
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    color: var(--WHITE, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07em;
letter-spacing: 0.16em;
}
.hero-title {
    margin-right: 472px;
    margin-left: 472px;
color: var(--WHITE, #FFF);
text-align: center;
width: 496px;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07em;
letter-spacing: 0.16em;
}
.button-ord {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #404BBF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.button-ord:focus {
    outline: none; /* Видалення рамки навколо кнопки при фокусі */
    background-color: #404BBF;
  }
.button-ord:hover {
    background-color: #404BBF;
  }
.main {
    
}
.container {
   
    
}
.main-list {
    display: flex;
}
.main-item {
    
}
.main-item-title {
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em; /* 0.4/500 */
width: 264px;
}
.main-item-title-opis {
color: var(--SLATE, #434455);
width: 264px;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5em; /* 150% */
letter-spacing: 0.02em;
}
.main-team {
    background-color: #F4F4FD;


}
.main-team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-team-list {
    list-style: none;
    padding: 0; 
}

.main-team-list-item {

}
.main-team-list-item-img {
width: 264px;
height: 260px;
background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.main-item-list-opis {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main-team-list-item1 {
}
.main-team-list-item2 {
}
.main-team-list-item3 {
}
.portfolio {

}
.portfolio-title {
    font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

}
.portfolio-list {
 
}


.portfolio-item-title {
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}
.portfoli-item-list-opis {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-list-item1 {


}
.portfolio-list-item2 {


}
.portfolio-list-item3 {
 
}
.portfolio-list-item4 {
    
}
.portfolio-list-item5 {


}
.footer {
width: 1440px;
height: 312px;
flex-shrink: 0;
background: var(--NAVY-BLUE, #2E2F42);
}
ul li {
    list-style: none;
}
h3 {

}